<p>
  <%= @greeting %>
</p>
<p>
    Your new password is:
</p>
<p>
    <%= @password %>
</p>
<p>
    please login and reset it immediately to keep your account secure.
</p>
<p>
    Thanks
</p>
<p>
    Recipe-Share Admin
</p>