<p>
  <%= @greeting %>
</p>
<p>
    Sorry you forgot your password.
</p>
<p>
    Here's a link to reset it and we'll send you a new one ASAP.
</p>
<p>
    <%= link_to "Reset password", "http://73.166.74.229:3000/reset_password?email=#{@chef.e_mail.split("@").join("%40")}" %>
</p>
<p>
    Recipe-Share Admin
</p>