<p>
  <%= @greeting %>
</p>
<p>
    Your new password is:
</p>
<p>
    <%= @password %>
</p>
<p>
    This password will expire in 24 hours.  Please login and reset it before then, by editing your profile, to keep your account secure.
</p>
<p>
    Thanks
</p>
<p>
    Recipe-Share Admin
</p>