<p>
  <%= @greeting %>
</p>
<p>
    Thanks for requesting to re-activate your Recipe-Share account.
</p>
<p>
    Here's the activation link to confirm your request.
</p>
<p>
    <%= link_to "Confirm re-activation", "http://35.237.119.38/reactivate?token=#{@chef.activation_digest}&email=#{@chef.e_mail.split("@").join("%40")}" %>
</p>
<p>
    Once you confirm you want to re-activate your account, we'll reset your password and send a follow up e-mail.
</p>
<p>
    Welcome back!
</p>
<p>
    Recipe-Share Admin
</p>